<div class="row mt-5">
    <div class="col-md-12">
        <div class="col-md-12">  
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create new event
                </button>
                <form class="dropdown-menu p-4" aria-labelledby="dropdownMenu2" name = "createForm">
                    <div class="form-group">
                      <label  for="exampleDropdownFormEmail2">Name</label>
                      <input [(ngModel)]= "eventData.name" name="name" type="text" class="form-control" id="exampleDropdownFormEmail2" >
                    </div>
                    <div class="form-group">
                      <label for="exampleDropdownFormPassword2">Description</label>
                      <input [(ngModel)]= "eventData.description" name="description" type="text" class="form-control" id="exampleDropdownFormPassword2" >
                    </div>

                    <div class="form-group">
                        <label for="exampleDropdownFormPassword2">Date</label>
                        <input [(ngModel)]= "eventData.date" name="date" type="date" class="form-control" id="exampleDropdownFormPassword2" >
                    </div>
                    
                    <button type="submit" class="btn btn-success" (click) = "createEvent()">Save</button>
                  </form>
              </div>
        </div>
    </div>
</div>


<div class="card text-center text-info border-info mt-5" *ngFor="let event of specialEvents">
    <div class="card-header">
        {{event.name}}
    </div>
    <div class="card-body">
        <h5 class="card-title">Description:</h5>
        <p class="card-text">{{event.description}}</p>
        <!-- <a   class="btn btn-success mr-2 text-white">Edit</a> -->
    <a  class="btn btn-danger text-white" (click)="deleteEvent(event.name)" >Delete</a>
    </div>
    <div class="card-footer text-muted">
        {{event.date | date:'shortDate'}}
    </div>
</div>