<div class="row mt-5">
    <div class="col-md-12">
        <div class="col-md-2">      
            <button type="button" class="btn btn-primary">Create new event</button>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let event of specialEvents">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-tittle">{{event.name}}</h5>
                <p class="card-text">{{event.description}}</p>
                <a href="#" class="btn btn-success mr-2">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
            <div class="card-footer text-muted">
                {{event.date | date:'shortDate'}}
            </div>
        </div>
    </div>
</div>