<div class="row pt-5">
    <div class="col-md-6 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <form  class="form">
                    <div class="form-group">
                        <label for ="">Name</label>
                        <input [(ngModel)] ="registerUserData.name" name="name" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for ="">Lastname 1</label>
                        <input [(ngModel)] ="registerUserData.lastname1" name="lastname1" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for ="">Lastname 2</label>
                        <input [(ngModel)] ="registerUserData.lastname2" name="lastname2" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for ="">Birthday</label>
                        <input [(ngModel)] ="registerUserData.birthday" name="birthday" type="date" class="form-control rounded-0" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                    </div>
                    <div class="form-group">
                        <label for ="">Email</label>
                        <input [(ngModel)] ="registerUserData.email" name="email" type="text" class="form-control rounded-0"  required >
                    </div>
                    <div class="form-group">
                        <label for ="">Password</label>
                        <input [(ngModel)] ="registerUserData.password" name="password"  type="password" class="form-control rounded-0" required>
                    </div>
                    <button (click) = "registerUser()" type ="button" class="btn btn-primary float-right ml-3" data-toggle="modal" data-target=".bd-example-modal-sm">Register</button>
                    <p *ngIf = "err" class="text-danger ">{{errMessage}}</p>
                    <p *ngIf = "!err" class="text-info ">*Password must be a least 8 caracters!</p>
                </form>
            </div>
        </div>
    </div>
</div>